body {
    margin: 0;              /* remove default margin */
    padding: 0;             /* remove default padding */
    width: 100%;            /* full width */
    height: 100vh;          /* full viewport height */
    max-width: 100%;
}
/* site-header */
.site-header { 
    background-color: #e8ddd3;
    padding: 14px; 
    border-bottom: 2px solid #e0e0e0;
    display: flex; 
    justify-content: space-between;
}
.site-header .logo {
    font-size: 30px; 
    font-weight: bold;
    color: #000000; 
    text-align: left;
} 
.site-header .nav { 
    display: flex;
    gap: 10px;
    background-color: #e8ddd3;
    color: #000000;
    padding: 15px; 
} 
.site-header .nav a {
    margin: 0 10px; 
    text-decoration: none;
    color: #000000;
    font-weight: bold;
 } 
 .site-header .nav a:hover { 
    color: #ffffff;  
    background-color:  #502f4b;
    border-radius: 4px; 
    padding: 5px; 
    transition: 0.5s; 
} 
/* home-section */
.container { 
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    gap: 40px;
    padding: 40px 20px;
     align-items: flex-start; 
} 
.left-section{ 
    flex: 1; 
    text-align:center; 
    padding: 20px;
    background-color: #c3b5a8; 
} 
.profile-card { 
    width: 131%;
    background-color: #e8ddd3; 
    padding: 20px; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
} 
.profile-picture{ 
    width: 180px; 
    height: 170px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px; 
} 
.profile-picture:hover { 
    transform: scale(1.05); 
    transition: 1.3s; 
} 
.name { 
    font-size: 28px; 
    font-weight: bold; 
} 
.typing { 
    font-size: 24px; 
    font-weight: 600; 
    color: #502f4b; 
    font-family: Arial, sans-serif; 
}
.typing span::after { 
    content: "Cloud Computing"; 
    animation: textChange 9s infinite; 
}
@keyframes textChange {
    0%   { content: "Cloud Computing"; } 
    33%  { content: "Web Developer"; } 
    66%  { content: "UI/UX Designer"; }  
    100% { content: "Cloud Computing"; }   
}
.icon-profile { 
    display: flex; 
    gap: 10px; 
    margin-top: 5px; 
    justify-content: center; 
}
.right-section { 
    flex: 1; 
    text-align: left; 
    padding: 20px; 
    font-size: 20px; 
    margin-top: 20px; 
    line-height: 1.6; 
    text-align: justify; 
} 
.wave{ 
     display: inline-block;      
  transform-origin: 70% 70%;        
  animation: wave-hand 1.8s ease-in-out infinite;
}
@keyframes wave-hand {
  0%   { transform: rotate(0deg); }
  10%  { transform: rotate(14deg); }
  20%  { transform: rotate(-8deg); }
  30%  { transform: rotate(14deg); }
  40%  { transform: rotate(-4deg); }
  50%  { transform: rotate(10deg); }
  60%  { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
.buttons-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.buttons-1 {
    background: #502f4b;
    color: #ffffff;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}
.buttons-1:hover{ 
    background-color: #ffffff;
    color: #000000;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;

}

.buttons-2 {
    border: 2px solid #000;
    color: #000;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.buttons-2:hover{ 
    background-color:  #502f4b;
    color: #ffffff;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}



/* aboutme-section */
.container-aboutme{
   max-width: 2000px;
   margin: 0 auto;
   display: flex;
   gap: 40px; 
   padding: 40px 20px; 
   align-items: flex-start; 
   background-color: #c3b5a8; 
} 
.aboutme-left-section{ 
    flex: 2; 
    text-align: left; 
    padding: 20px; 
} 
.profile{ 
    text-align: center; 
    font-size: 50px; 
} 
.profile-text{ 
    font-size: 20px; 
    margin-top: 20px; 
    line-height: 1.6; 
    text-align: justify; 
} 
.aboutme-right-section { 
    flex: 1; 
    text-align: left; 
    padding: 20px; 
} 
.aboutme-image{ 
    width: 350px; 
    height: 420px; 
    object-fit: cover; 
} 
.skills { 
    text-align: center; 
    font-size: 50px; 
    margin-bottom: 20px; 
    font-weight: bold; 
} 
.box-skills{ 
    list-style-type: none; 
    padding: 0; 
} 
.box-skills li{ 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 12px 16px; 
    margin: 10px 0; 
    background-color: #c3b5a8; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-size: 1rem; 
    color: #000000; 
    display: inline-block; 
    width: 200px; 
    margin: 10px; 
} 
.box-skills li:hover{ 
    background-color: #e8ddd3; 
    cursor: pointer; 
    transform: scale(1.05); 
    transition: 0.3s; 
} 
.Tools{ 
    text-align: center; 
    font-size: 50px; 
    margin-bottom: 20px; 
    font-weight: bold; 
} 
.box-Tools{ 
    list-style-type: none; 
    padding: 0; 
} 
.box-Tools li{ 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 12px 16px; 
    margin: 10px 0; 
    background-color: #c3b5a8; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-size: 1rem; 
    color: #000000; 
    display: inline-block; 
    width: 200px; 
    margin: 10px; 
} 
.box-Tools li:hover{ 
    background-color: #e8ddd3; 
    cursor: pointer; transform: scale(1.05); 
    transition: 0.3s; 
} 
/* projects-section */
.Projects-section-1 {
    max-width: 2000px;
    margin: 0 auto;
    padding: 60px 20px;
    background-color: #c3b5a8;
    text-align: center;
}

.Projects-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Projects-content {
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 40px;
}
.my-project{
     font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
/* Project Card */
.project-card {
    background-color: #e8ddd3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    transition: transform 0.3s ease;
}
.project-card:hover {
    transform: scale(1.02);
    background-color:#c3b5a8 ;
}
.project-1 {
    margin-top: 20px;
}

.project-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}
.project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #502f4b;
}
.project-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}
.project-links {
    display: inline-block;
    background: #502f4b;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.project-links:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #502f4b;
}
/* resume-section */
.resume-section {
    background-color: #c3b5a8;
    padding: 40px;
    margin-bottom: 30px;
    text-align: center; 
    min-height: 200px;
}

.resume-button-container {
    background: #502f4b;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 14px;
    transition: all 1.0s ease;
    display: inline-block;
    width: 200px;
    text-align: center;
    
}

.resume-button-container:hover { 
    background-color: #ffffff;
    color: #000000;
}

/* Contact Form Styling */
form {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: #c3b5a8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    color: #333;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
  }

  input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
  }

  button {
    background: #502f4b;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }

  button:hover {
    background: #ffffff;
    color: #000000;
  }


/* footer-section */
.footer-container { 
    background-color: #e8ddd3; 
    padding: 20px 40px; 
    font-family: 'Arial', sans-serif;
    color: #333; 
    border-top: 1px solid #ccc; 
}
.footer-container { 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap; 

}
.footer-left { 
    flex: 1; 
    min-width: 200px; 
}
.footer-right { 
    display: flex; 
    gap: 40px; 
    flex: 2; 
    justify-content: flex-end; 
    flex-wrap: wrap; 
} 
.social p { 
    margin: 5px 0; 
    font-size: 14px; 
    text-align: center; 
}
.icon-container { 
    display: flex; 
    gap: 10px; 
    margin-top: 5px; }
.icon { 
    width: 24px; 
    height: 24px; 
    transition: transform 0.3s ease; 
}
.icon:hover { 
    transform: scale(1.2); 
} 